*{
    margin:0 ;
padding: 0;
font-family: sans-serif;
}

.container{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.header{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.nevbar {
    width: 55%;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    align-items: center;

}
.logo {
    width: 35%;
    cursor: pointer;
    margin: -40px;
    
}
.nav {
    flex: 0;
    text-align: right;
    
}
.nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
.nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.nav ul li a:hover {
    color: #ff5ea2;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-1 h2 {
    font-size: 54px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}